<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 centered">
      <div class="card">
        <div class="card-header">
          <h5>Editar datos</h5>
        </div>
        <div class="card-body">
          <form action="/update/<%= data.id %>" method="post" autocomplete="off">
            <div class="form-group">
              <input type="text" value="<%= data.nameuser %>" placeholder="Nombre" class="form-control" name="nameuser">
            </div>
            <div class="form-group">
              <input type="text" value="<%= data.address %>" placeholder="Dirección" class="form-control" name="address">
            </div>
            <div class="form-group">
              <input type="tel" value="<%= data.phone %>" placeholder="Telefono" class="form-control" name="phone">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary">Update data</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>